/*------------------------------------------------------------------
[ chat-page ]*/
.chat-page {
  margin-left: 140px;
  font-size: 28px;
  padding: 0px 10px;
}

/* title */
.chat-page-title-container {
  height: 15%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 10px;
}

@media screen and (max-width: 900px) {
  .chat-page-title-container {
    width: 90%;
  }
}

#chat-page-title-name {
  text-decoration: none;
  font-size: 40px;
  color: #57b846;
  display: block;
  margin-right: 20px;
}

/* content */
.chat-page-content-big-container {
  height: 67%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 10%;
  border-top: 2px solid grey; 
  background-color: transparent;
  overflow-x: hidden;
}

#chat-page-content-container {
  padding: 6px 8px 6px 16px;
}

#chat-page-more-message-btn {
  font-family: Arial;
  font-size: 15px;
  color: #57b846;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-page-content {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  overflow-x: hidden;
  margin-right: 20px;
}

#Avatar {
  float: left;
  max-width: 30px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

#chat-page-img {
  max-width: 200px;
  width: 100%;
}

.chat-page-content p {
  color: #666666;
  margin: 0px;
}

.chat-page-content span {
  float: right;
  color: #aaa;
  font-size: 12px;
}

.chat-page-reply-count {
  color: #57b846;
  margin: 0px;
  font-size: 12px;
  float: right;
  padding-right: 10px;
}

/* send */
.chat-page-send-container {
  height: 20%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 80%;
  background-color: transparent;
  overflow-x: hidden;
}

.chat-page-send-form-container {
  border-top: 2px solid grey;
  margin-right: 20px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#chat-page-send-btn {
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 30px;
  background-color: #57b846;
  border-radius: 20px;
}

#chat-page-send-btn:hover  {
  background-color: #333333;
  transition: 0.5s;
}
